@font-face {
  font-family: "Cheltenham";
  src: url("./assets/fonts/cheltenham/cheltenham-normal-400.ttf")
    format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Cheltenham";
  src: url("./assets/fonts/cheltenham/cheltenham-normal-800.ttf")
    format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Franklin";
  src: url("./assets/fonts/franklin/franklin-normal-500.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Franklin";
  src: url("./assets/fonts/franklin/franklin-normal-800.ttf") format("truetype");
  font-weight: 800;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f2eee8;
  font-family: "Cheltenham", "Arial", "Times New Roman";
}

.nav {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
/* .app {
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
} */
.heading {
  font-family: "Cheltenham";
  font-size: 1.875rem;
  font-weight: 400;
}

.user-info-form,
.quiz,
.result {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* .user-info-form label,
.quiz .options button,
.result p {
  margin-bottom: 10px;
} */

.quiz .options button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.quiz .options button:hover {
  background-color: #0056b3;
}

.btn {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Franklin";
  margin-top: 1.5rem;
}
.btn--submit {
  background-color: #222222;
  color: white;
}
.btn--back {
  background-color: #f2eee8;
  color: #222222;
  border: 1px solid #222222;
}
.btn:hover {
  background-color: #4e4e4e;
}
.option-item {
  flex: 1 1 calc(50% - 10px);
  margin: 5px;
}

.option-button {
  position: relative;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.option-button:hover {
  transform: scale(1.05);
}
.option-button--active {
  border: 1px solid #0056b3;
}

.option-text {
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 10px;
  padding-top: 2rem;
  padding-left: 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 10rem;
  text-align: left;
  font-family: "Franklin";
}

.user-info-form {
  gap: 0.5rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: "Franklin";
}
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.radio-subgroup {
  margin: 0;
}
.input {
  height: 2rem;
  padding: 1rem;
  background-color: #e0ddda;
  border-radius: 0.25rem;
}
.input--dropdown {
  padding-left: 1rem;
  background-color: #e0ddda;
  border-radius: 0.25rem;
  height: 2rem;
}

.options-grid {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-row: auto auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.subheading {
  font-family: "Franklin";
  font-size: 1.25rem;
}
.result {
  padding: 20px;
  text-align: center;
  max-width: 600px;
  margin: auto;

  border-radius: 8px;
}

.result h2 {
  color: #222222;
}

.category-tabs {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  gap: 1rem;
  font-family: "Franklin";
}

.category-tab {
  flex: 1;
  padding: 10px;
  background-color: #cccccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.category-tab.active {
  background-color: #222222;
  color: white;
}

.category-details {
  margin: 20px 0;
}

.category-card {
  background-color: #cccccc;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.category-card h3 {
  margin-top: 0;
  color: #222222;
}

.category-card p {
  color: #222222;
}
.card-heading {
  font-family: "Cheltenham";
  font-size: 1.375rem;
}
.card-para {
  text-align: left;
  font-family: "Franklin";
  font-size: 0.875rem;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.subscribe-button,
.save-share-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-button {
  background-color: #007bff;
  color: white;
}

.save-share-button {
  background-color: #28a745;
  color: white;
}
.action-buttons {
  gap: 1rem;
}
.para {
  font-family: "Franklin";
  font-size: 16px;
  margin: 0;
}
.recommended {
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 0rem 8rem;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding: 0;
    width: 768px;
    margin: auto;
  }
}

/* WELCOME SCREEN */
.container {
  margin: 0;
  padding: 0;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100svw;
  height: 100vh;

  flex-direction: column;
}

.showItem {
  display: flex;
}

.hideItem {
  display: none;
}

.logo-box {
  border-radius: 48px;
  background: #fff;
}

.nyt-logo {
  width: 162px;
  height: 162px;
  padding: 30px 43.397px 29.368px 43px;
}

.nyt-title {
  width: 357px;
  height: 47px;
  filter: brightness(0) invert(1);
}

.cta-copy-section {
  display: flex;
  padding: 36px 27px 36px 27px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}
.quiz-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.welcome-title {
  align-self: stretch;
  color: #fff;
  font-family: "Cheltenham";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 16px;
}

.welcome-subtitle {
  align-self: stretch;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Franklin";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  padding-bottom: 24px;
}

.welcome-text {
  color: #fff;

  font-family: "Franklin";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19.2px;
}

.cta-action-section {
  display: flex;
  width: 336px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cta-button {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  border: 1px #222;
  background: #f2eee8;
}

.cta-continue {
  color: #b1b1b1;

  text-align: center;
  font-family: "Franklin";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  text-decoration-line: underline;
  margin-top: 16px;
  margin-bottom: 32px;
  padding-bottom: 64px;
}

.quiz-logo {
  display: flex;
  padding: 73px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  background: #f2eee8;
}

.quiz-logo__image {
  width: 311.551px;
  height: 275px;
}
